body {
    font-size: 14px;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.top {
    background-image: url(images/sky.png);
    background-size: cover;
    height: 150px;
}

.top p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 6px goldenrod;
    color: #000;
    text-align: center;
    padding-top: 25px;
}

main {
    background-image: url(images/natures.jpg);
    background-size: cover;
    position: relative;
    bottom: 25px;
}

main>h1, main>p {
padding-left: 30px;
}

main>h1 {
padding-top: 30px;
}

main div {
    width: 500px;
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    color: black;
    background-color: rgba(78,78,78, .5);    
}

main div:nth-child(even) {
    position: relative;
    left:300px;
}

main div:nth-child(odd) {
    position: static;
    
}

main div:nth-child(odd) p{
    text-indent: 24px;
}

footer {
    height: 50px;
    background-color: #49DEE3;
    position: relative;
    bottom: 40px;
}

#copyright {
    text-align: center;
    font-size: .8em;
    color:black;
    padding-top: 20px;
}